* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden; 
}


body{
    margin: 0;
    padding: 0 0;
}

header{
    background-image: url(Header\ Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 20px 20px 20px 

}

header h1{
    font-family: luckiest guy;
      color: white;
  font-weight: 400;
  font-size: 56px;
  max-width: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

header p{
    color: white;
   max-width: 752px;
   width: 100%;
   max-height: 66px;
   height: 100%;
    justify-self: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "open sans";
    line-height: 1.6;
    text-align: center;
}




.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: "open sans";
}

.buton1{
    border-radius: 28px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    width: 205px;
    height: 45px;
}


.buton2{
    border-radius: 28px;
    font-weight: 400;
    font-size: 16px;
    width: 281px;
    height: 45px;
    border: none;
    background-color: #23272A;
    color: white;
    
}

.botoes{
    margin-top: 70px;
    padding-bottom: 150px;
}



.container3{
    display: flex;
     justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container3 h2{
    font-family: open sans;
    font-weight: 900;
    font-size: 40px;
    max-width: 300px;
   
}

.container3 p{
    font-family: open sans;
    font-size: 16px;
    font-weight: 200;
    max-width: 300px;
}




.par{
    display: block;
    background-color: #f6f6f6;
}

.par h2{
    font-family: luckiest guy;
    font-weight: 400;
    font-size: 40px;
    justify-self: center;
    max-width: 500px;
    text-align: center;
    padding-top: 30px;
}

.par p{
    font-family: open sans;
    justify-self: center;
    max-width: 800px;
    text-align: center;
    padding-top: 30px;
}
.par img {
   justify-self: center;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-self: center;
   align-content: center;

}

.imagem{
    display: flex;
      justify-self: center;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-self: center;
   align-content: center;

}

@media screen and (max-width:490px){

header h1{
    
    padding:  0 0 0   ;
    margin:  0 0 0;
    font-size: 32px;
    justify-self: baseline;
    margin-left: 10px;
}


header p{
  max-width: 400px;   
  line-height: 1.5;   
  text-align: left;   
  white-space: normal;
}




.botoes{
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    align-items:center ;
    align-content: center;
    align-self: center;
    justify-self: center;

}

.buton1{
    width: 331px;
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

.buton2{
    padding-top: 20px;
    padding-bottom: 35px;
    width: 331px;
}



}


@media screen and (max-width:330px){


    header{
        width: 100%;
    }

    .buton1{
        width: 300px;
    }

    .buton2{
        width: 300px;
    }
}


.container{
    display: flex;
    justify-content: center;
    
}


.container h2{
    font-family: open sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 100%;
    margin-bottom: 10px;
    max-width: 300px;
}

.container p{
    max-width: 300px;
}

@media screen and (max-width:900px){

.container{
    width: 100%;
    height: 100%;
    display: block;
}


.container img{
    width: 100%;
    height: 100%;
}


.detalhes h2{
    margin: 0 auto;
    max-width: 600px;
}

.detalhes p{
    margin: 0 auto;
    max-width: 400px;
}

.container3{
    flex-direction: column;
    width: 100%;
    height: 100%;
     overflow-x: hidden;
}



.container3 h2 {
    max-width: 900px;
    font-size: 33px;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.container3 p {
    max-width: 378px;
    width: 100%;
    height: auto;
}

.container3 .legenda{
    max-width: 500px;
    width: 100%;
    justify-items: center;
    height: auto;
}

.container3 img{
    width: 100%;
    height: auto;
}

}


@media screen and (max-width:500px){
    .container img{
    width: 100%;
    height: 100%;
}

.detalhes h2{
    margin-left: 30px;
    font-size: 24px;
    max-width: 730px;
}

.detalhes p{
    margin-left: 30px;
    margin-top: 30px;
}

.container h2{
    font-size: 24px;
}



.container2 h2{
    font-size: 24px;
}

}


.container2{
    font-family: open sans;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    align-items: center;
    padding-top: 30px;
    overflow-x: hidden;
    width: 100%;
}

.container2 h2{
    font-size: 40px;
    font-weight: 800;
    max-width: 300px;
}

.container2 p{
    max-width: 350px;
}

.container p{
    font-family: open sans;
}
.container{
    padding-top: 30px;
}

@media screen and (max-width:900px){

header h1{
    margin-bottom: 30px;
}

.container h2{
margin-bottom: 30px;


}


.container2{
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
}

.container2 img{
    width: 100%;
    height: auto;
}

.container2 p{
    width: 100%;
    height: auto;
}

.container2 h2{
    font-size: 33px;
    width: 100%;
    max-width: 800px;  
    margin-bottom: 30px;  
}

.par .imagem img{
    justify-self: center;
    width: 100%;
    height: auto;
}

}


@media screen and (max-width:610px){
.container2 h2{
    font-size: 33px;
    max-width: 800px;
}



}


@media screen and (max-width:650px){
    .container h2{
        font-size: 30px;
        margin-bottom: 30px;
    }

    
}

@media screen and (max-width:400px){

.container2 h2{
    margin: 0 auto;
       margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
}

.container2 p{
    margin: 0 auto;
    max-width: 700px;
    font-size: 16px;        
}

}

@media  screen and (max-width:370px) {


    .container2 h2{
        max-width: 300px;
    }
}





footer{
    background-color: #23272A;

}

footer img{
    display: block;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}


@media screen and (max-width:450px){
    .par h2{
        text-align: start;
        font-size: 32px;
        margin-left: 25px;
    }

    .par p{
        max-width: 400px;
        text-align: start;

    }


    footer {
        
    }
}

.container2 p{
    padding-bottom: 30px;
}

